<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd" backupGlobals="false" colors="true">
    <coverage>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </coverage>
    <php>
        <ini name="memory_limit" value="-1" />
        <env name="REDO_PHPUNIT_UUID" value="d8dfd6ff-05f9-498d-bd68-9bec4425b89c" />
    </php>
    <testsuites>
        <testsuite name="all">
            <directory suffix="TestCase.php">../tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
